<!DOCTYPE html>
<html lang="en">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>




<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Portfolio</title>

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <!-- box icons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  <!-- custom css-->
  <link rel="stylesheet" href="css/style.css">
</head>

<body>

  <!-- header design-->
  <header class="header">
    <a href="#" class="logo">Kauan</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
      <a href="#home" class="active">Home</a>
      <a href="#about">About</a>
      <a href="#services">Skills</a>
      <a href="#portfolio">Projects</a>
      <!-- <a href="#contact">Contact</a> -->
    </nav>
  </header>

  <!-- home section design -->
  <section class="home" id="home">
    <div class="home-content">

      <h3>Hi, It's Me</h3>
      <h1>Kauan Felipe</h1>
      <h3>And I'm <span class="multiple-text"></span></h3>
      <p>
        Currently, I am studying Analysis and Systems Development at UTFPR and I am dedicated to learning more about
        front-end technologies such as React, HTML, CSS and JavaScript.
      </p><!-- <p>Atualmente, estou cursando Análise e Desenvolvimento de Sistemas na UTFPR e estou dedicado a aprender mais
        sobre
        as tecnologias de front-end, como React, HTML, CSS e JavaScript.</p> -->
      <div class="social-media">
        <a href="https://www.facebook.com/kauanfelipee"><i class='bx bxl-facebook'></i></a>
        <a href="https://www.twitter.com/damightyzera"><i class='bx bxl-twitter'></i></a>
        <a href="https://www.instagram.com/damightyzera"><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://www.linkedin.com/in/kauanfelipe96"><i class='bx bxl-linkedin'></i></a>
      </div>
      <a href="#about" class="btn">Download CV</a>
    </div>
    <div class="home-img">
      <!-- <img src="images/home.jpg" alt=""> -->
      <lottie-player src="https://assets3.lottiefiles.com/private_files/lf30_4bkst7vs.json" background="transparent"
        speed="1" style="width: 500px; height: 500px;" loop autoplay></lottie-player>
    </div>


  </section>

  <!-- about section design  -->
  <section class="about" id="about">
    <div class="about-img">
      <!-- <img src="images/about.jpg" alt=""> -->
      <lottie-player id="lottie" src="https://assets3.lottiefiles.com/packages/lf20_gssu2dkm.json"
        background="transparent" speed="1" style="width: 700px; height: 550px;" loop autoplay></lottie-player>
    </div>

    <div class="about-content">
      <h2 class="heading">Jobs <span>Experiences</span></h2>
      <!-- <h3>Frontend Developer</h3> -->
      <!-- <p>Olá, meu nome é Kauan Felipe e sou um estudante de tecnologia com experiência em várias áreas da indústria.
        Atualmente, estou cursando Análise e Desenvolvimento de Sistemas na UTFPR e estou dedicado a aprender mais sobre
        as tecnologias de front-end, como React, HTML, CSS e JavaScript. Eu já trabalhei como auxiliar de TI na Aguativa
        Gold Resort e também na Caixa Econômica Federal como auxiliar de PJ. Posteriormente, trabalhei como arquivista
        no setor de contabilidade na Cia Iguaçu de Café Solúvel, onde tive contato com o sistema SAP R3, e mais
        recentemente como suporte técnico na CDS Software, onde ganhei experiência em SQL Server e Teste. Quando não
        estou estudando ou trabalhando, gosto de jogar FPS no computador, caminhar e apreciar o pôr do sol com minha
        namorada. Estou muito animado para terminar meu curso e me tornar um desenvolvedor completo, contribuindo com
        minhas habilidades para o setor de tecnologia.</p> -->
      <div class="rb-container">
        <ul class="rb">
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              <strong>Technical Support</strong><br> CDS Software | Jan 2021 - Apr 2022
            </div>
            <div class="item-title">Provided training to customers and new employess, managed billing and financial
              management, controlled inventory, and managed tax notes such as NFe, NFCe, MDFe, Cte, and CCe. Possess
              basic skills in SQL Server and some experience as a Tester.
            </div>

          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              <strong>Accounting Administrative Assistant</strong> <br> Iguacu de Café Solúvel | Apr 2015 - Feb 2020
            </div>
            <div class="item-title">Experienced in SAP R3 system, organizing documents and balance sheets, handling
              external services, organizing the department's archive ad storeroom, and reviewing reports and surveys.
            </div>

          </li>

          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              <strong>IT Technical Assistant</strong><br> Aguativa Golf Resort | Jan 2012 - Jan 2013
            </div>
            <div class="item-title">Performed computer maintenance for the hotel, provided assistance to guests and
              staff, analyzed and maintained Wi-Fi networks and printers, and provided general operational support and
              assistance.
            </div>

          </li>

        </ul>

      </div>
    </div>
  </section>

  <!-- services section design -->
  <section class="services" id="services">
    <h2 class="heading">My <span>Skills</span></h2>

    <div class="services-container">
      <div class="services-box">
        <i class='bx bxl-html5'></i>
        <h3>HTML5</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 70%"
            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="services-box">
        <i class='bx bxl-css3'></i>
        <h3>CSS3</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 40%"
            aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="services-box">
        <i class='bx bxl-javascript'></i>
        <h3>JavaScript</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 30%"
            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <!-- <a href="#" class="btn">Read More</a> -->
      </div>

      <div class="services-box">
        <i class='bx bxl-react'></i>
        <h3>React</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 30%"
            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

      <div class="services-box">
        <i class='bx bxl-java'></i>
        <h3>Java</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 50%"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="services-box">
        <i class='bx bxl-c-plus-plus'></i>
        <h3>C++</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 50%"
            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="services-box">
        <i class='bx bxl-nodejs'></i>
        <h3>Node</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 30%"
            aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
      <div class="services-box">
        <i class='bx bxl-postgresql'></i>
        <h3>MySQL</h3>
        <div class="progress" style="height: 20px">
          <div class="progress-bar-striped progress-bar-animated bg-info" role="progressbar" style="width: 70%"
            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>

    </div>
  </section>

  <!-- portfolio section design  -->
  <section class="portfolio" id="portfolio">
    <h2 class="heading">Latest <span>Project</span></h2>

    <div class="portfolio-container">
      <div class="portfolio-box">
        <img src="images/portfolio1.jpg" alt="">
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, asperiores!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio2.jpg" alt="">
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, asperiores!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio3.jpg" alt="">
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, asperiores!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio4.jpg" alt="">
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, asperiores!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio5.jpg" alt="">
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, asperiores!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
      <div class="portfolio-box">
        <img src="images/portfolio6.jpg" alt="">
        <div class="portfolio-layer">
          <h4>Web Design</h4>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, asperiores!</p>
          <a href="#"><i class='bx bx-link-external'></i></a>
        </div>
      </div>
    </div>
  </section>

  <!-- contact section design -->
  <!-- <section class="contact" id="contact">
    <h2 class="heading">Contact <span>Me!</span></h2>

    <form action="#">
      <div class="input-box">
        <input type="text" placeholder="Full Name">
        <input type="email" placeholder="Email Address">
      </div>
      <div class="input-box">
        <input type="number" placeholder="Mobile Number">
        <input type="email" placeholder="Email Subject">
      </div>
      <textarea name="" id="" cols="30" rows="10" placeholder="Your Message"></textarea>
      <input type="submit" value="Send Message" class="btn">
    </form>
  </section> -->

  <!-- footer design -->
  <footer class="footer">
    <div class="footer-text">
      <p>Copyright &copy; 2023 by Kauanzera | All Rights Reserved.</p>
    </div>

    <div class="footer-iconTop">
      <a href="#home"><i class='bx bxs-chevron-up'></i></a>
    </div>
  </footer>

  <!-- scroll reveal  -->
  <script src="https://unpkg.com/scrollreveal"></script>

  <!-- typed js -->
  <script src="https://unpkg.com/typed.js@2.0.14/dist/typed.umd.js"></script>

  <!-- custom js  -->
  <script src="./js/script.js"></script>

  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>